<ng-include src="plugin_url + '/templates/nav.html'"></ng-include>

<div class="w3-container w3-teal variable">
    <div class="w3-col m4 l3">
        <h1>12 Month Forecast</h1>
    </div>
    <div class="w3-col m8" style="margin: 10px 0; float: right;">
        <ul class="months w3-black" style="float: right;">
            <li><a ui-sref-active="w3-white" ui-sref="forecastMonthly({year: year, 'month': 1})" class="w3-btn">Jan</a></li>
            <li><a ui-sref-active="w3-white" ui-sref="forecastMonthly({year: year, 'month': 2})" class="w3-btn">Feb</a></li>
            <li><a ui-sref-active="w3-white" ui-sref="forecastMonthly({year: year, 'month': 3})" class="w3-btn">Mar</a></li>
            <li><a ui-sref-active="w3-white" ui-sref="forecastMonthly({year: year, 'month': 4})" class="w3-btn">Apr</a></li>
            <li><a ui-sref-active="w3-white" ui-sref="forecastMonthly({year: year, 'month': 5})" class="w3-btn">May</a></li>
            <li><a ui-sref-active="w3-white" ui-sref="forecastMonthly({year: year, 'month': 6})" class="w3-btn">Jun</a></li>
            <li><a ui-sref-active="w3-white" ui-sref="forecastMonthly({year: year, 'month': 7})" class="w3-btn">Jul</a></li>
            <li><a ui-sref-active="w3-white" ui-sref="forecastMonthly({year: year, 'month': 8})" class="w3-btn">Aug</a></li>
            <li><a ui-sref-active="w3-white" ui-sref="forecastMonthly({year: year, 'month': 9})" class="w3-btn">Sep</a></li>
            <li><a ui-sref-active="w3-white" ui-sref="forecastMonthly({year: year, 'month': 10})" class="w3-btn">Oct</a></li>
            <li><a ui-sref-active="w3-white" ui-sref="forecastMonthly({year: year, 'month': 11})" class="w3-btn">Nov</a></li>
            <li><a ui-sref-active="w3-white" ui-sref="forecastMonthly({year: year, 'month': 12})" class="w3-btn">Dec</a></li>
            <li><a ui-sref-active="w3-white" ui-sref="forecast({year: year})" class="w3-btn">Total</a></li>
        </ul>
    </div>
</div>

<h2 class="no-print">
    <div>
        <button class="w3-btn w3-indigo" style="float: right;" ng-click="'all' != month ? edits=!edits : ''" ng-hide="'all' == month"
            title="Shows edit forms">Edit
            Mode</button>
        <button class="w3-btn w3-red" style="float: right;" ng-click="recalculate()" title="If JS shows infinities...">(Re)-Calculate</button>
    </div>
</h2>

<div class="company-wrapper">
    <ng-include src="plugin_url + '/templates/company_name.html'"></ng-include>
    <div class="table-heading-sort-note">
        <h3>Ordinary Income/Expense</h3>
        <i>(Click column heading to sort)</i>
    </div>
    <table class="w3-table w3-bordered w3-striped w3-border w3-hoverable">
        <thead>
            <tr>
                <td colspan="4"></td>
                <td colspan="2" style="text-align:right">Percentage of revenue allocated this month &nbsp;<span ng-hide="edits">{{ percentage | number:2 }}%</span><input
                        class="r i w3-input" type="text" size="8" value="{{ percentage | number:2 }}" ng-show="edits" ng-model="percentage"
                        ng-blur="changePercentage(percentage)" /></td>
                <td style="text-align:center">12 month total {{all_month | number:2}}%</td>
            </tr>
            <tr class="w3-teal">
                <th class="center">S.N.</th>
                <th ng-click="sort('incomes', 'account_number')" class="center">Account Number</th>
                <th ng-click="sort('incomes', 'account_name')" class="center">Account Name</th>
                <th ng-click="sort('incomes', 'annual')" class="center">Annual Budget</th>
                <th ng-click="sort('incomes', 'percentage')" class="center">% of Total Income</th>
                <th ng-click="sort('incomes', 'annual')" class="center">Monthly Average</th>
                <th ng-click="sort('incomes', 'monthly_actual')" class="center">Monthly Actual</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(i, income) in incomes">
                <td>{{ income.sn }}</td>
                <td>{{ income.account_number }}</td>
                <td>{{ income.account_name }}</td>
                <td class="r {{ income.annual < 0 ? 'text-red' : '' }}">{{ income.annual | currency }}</td>
                <td class="r {{ income.percentage < 0 ? 'text-red' : '' }}">{{ income.percentage | number:2 }}%</td>
                <td class="r {{ income.annual < 0 ? 'text-red' : '' }}">{{ income.annual/12 | currency }}</td>
                <td class="r {{ income.monthly_actual < 0 ? 'text-red' : '' }}">{{ income.monthly_actual | currency }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="w3-black">
                <td colspan="3">Total Income</td>
                <td class="r">{{ income_summary.total | currency }}</td>
                <td class="r">{{ income_summary.percentage }}%</td>
                <td class="r">{{ income_summary.total/12 | currency }}</td>
                <td class="r">{{ getTotalMonthlyActual() | currency }}</td>
            </tr>
        </tfoot>
    </table>

    <div class="table-heading-sort-note">
        <h3>COGS (Cost of Goods Sold)</h3>
        <i>(Click column heading to sort)</i>
    </div>
    <table class="w3-table w3-bordered w3-striped w3-border w3-hoverable">
        <thead>
            <tr class="w3-teal">
                <th class="center">S.N.</th>
                <th ng-click="sort('cogs', 'account_number')" class="center">Account Number</th>
                <th ng-click="sort('cogs', 'account_name')" class="center">Account Name</th>
                <th ng-click="sort('cogs', 'annual')" class="center">Annual Budget</th>
                <th ng-click="sort('cogs', 'percentageTI')" class="center">% of Total Income</th>
                <th ng-click="sort('cogs', 'annual')" class="center">Monthly Average</th>
                <th ng-click="sort('cogs', 'monthly_actual')" class="center">Monthly Actual</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(i, cg) in cogs">
                <td>{{ cg.sn }}</td>
                <td>{{ cg.account_number }}</td>
                <td>{{ cg.account_name }}</td>
                <td class="r {{ cg.annual < 0 ? 'text-red' : '' }}">{{ cg.annual | currency }}</td>
                <td class="r {{ cg.percentageTI < 0 ? 'text-red' : '' }}">{{ cg.percentageTI | number:2 }}%</td>
                <td class="r {{ cg.annual < 0 ? 'text-red' : '' }}">{{ cg.annual / 12 | currency }}</td>
                <td class="r {{ cg.monthly_actual < 0 ? 'text-red' : '' }}">{{ cg.monthly_actual | currency }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="w3-black">
                <td colspan="3">Total COGS</td>
                <td class="r">{{ cogs_summary.total | currency }}</td>
                <td class="r">{{ cogs_summary.percentageTI | number:2 }}%</td>
                <td class="r">{{ cogs_summary.total/12 | currency }}</td>
                <td class="r">{{ getCogsTotalMonthlyActual() | currency }}</td>
            </tr>

            <tr class="w3-pale-blue">
                <td colspan="3">Gross Profit</td>
                <td class="r">{{ (income_summary.total - cogs_summary.total) | currency }}</td>
                <td class="r">
                    {{ ((income_summary.total - cogs_summary.total) / income_summary.total) * 100 | number:2 }}%</td>
                <td class="r">{{ (income_summary.total - cogs_summary.total) / 12 | currency }}</td>
                <td class="r">{{ getTotalMonthlyActual() - getCogsTotalMonthlyActual() | currency }}</td>
            </tr>
            <tr class="w3-pale-blue">
                <td colspan="5"></td>
                <td class="r">Actual %</td>
                <td class="r">
                    {{ ((getCogsTotalMonthlyActual() - getTotalMonthlyActual()) / getTotalMonthlyActual()) * 100 | number:2 }}%
                </td>
            </tr>
        </tfoot>
    </table>


    <div class="table-heading-sort-note">
        <h3>Expenses</h3>
        <i>(Click column heading to sort)</i>
    </div>
    <table class="w3-table w3-bordered w3-striped w3-border w3-hoverable">
        <thead>
            <tr class="w3-teal">
                <th class="center">S.N.</th>
                <th ng-click="sort('expenditures', 'account_number')" class="center">Account Number</th>
                <th ng-click="sort('expenditures', 'account_name')" class="center">Account Name</th>
                <th ng-click="sort('expenditures', 'annual')" class="center">Annual Budget</th>
                <th ng-click="sort('expenditures', 'percentageTI')" class="center">% of Total Income</th>
                <th ng-click="sort('expenditures', 'annual')" class="center">Monthly Average</th>
                <th ng-click="sort('expenditures', 'monthly_actual')" class="center">Monthly Actual</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(i, expenditure) in expenditures">
                <td>{{ expenditure.sn }}</td>
                <td>{{ expenditure.account_number }}</td>
                <td>{{ expenditure.account_name }}</td>
                <td class="r {{ expenditure.annual < 0 ? 'text-red' : '' }}">{{ expenditure.annual | currency }}</td>
                <td class="r {{ expenditure.percentageTI < 0 ? 'text-red' : '' }}">{{ expenditure.percentageTI | number:2 }}%</td>
                <td class="r {{ expenditure.annual < 0 ? 'text-red' : '' }}">{{ expenditure.annual / 12 | currency }}</td>
                <td class="r {{ expenditure.monthly_actual < 0 ? 'text-red' : '' }}">{{ expenditure.monthly_actual | currency }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="w3-black">
                <td colspan="3">Total Expenses</td>
                <td class="r">{{ expenditures_summary.total | currency }}</td>
                <td class="r">{{ expenditures_summary.percentageTI | number:2 }}%</td>
                <td class="r">{{ expenditures_summary.total / 12 | currency}}</td>
                <td class="r">{{ getExpTotalMonthlyActual() | currency }}</td>
            </tr>
            <tr class="w3-pale-blue">
                <td colspan="3">Net Ordinary Income</td>
                <td class="r">
                    {{ (income_summary.total - cogs_summary.total) - expenditures_summary.total | currency }}
                </td>
                <td class="r">
                    {{ ((income_summary.total - cogs_summary.total - expenditures_summary.total)*100/income_summary.total)|number:2 }}%
                </td>
                <td class="r">
                    {{ ((income_summary.total - cogs_summary.total) - expenditures_summary.total)/12 | currency }}</td>
                <td class="r">
                    {{ (getTotalMonthlyActual() - getCogsTotalMonthlyActual()) - getExpTotalMonthlyActual() | currency }}
                </td>
            </tr>
        </tfoot>
    </table>
    <!--{{ expenditures }} -->
    <!--{{ expense }}-->
    <!--{{ expenditures_summary }}-->

</div>